# ü§∑‚Äç‚ôÄÔ∏èGenetic Algorithmü§∑‚Äç‚ôÇÔ∏è  

Genetic AlgorithmÏùÄ Ï∞®Ïõê Ï∂ïÏÜå Í∏∞Î≤ï Ï§ë Î≥ÄÏàò ÏÑ†ÌÉùÎ≤ïÏóê ÏÜçÌïòÎäî ÏïåÍ≥†Î¶¨Ï¶òÏù¥Îã§.  
Genetic AlgorithmÏùÄ ÏûêÏó∞ ÏÑ†ÌÉùÏÑ§ÏùÑ Í∏∞Î∞òÏúºÎ°ú Ìïú ÏßÑÌôî ÏïåÍ≥†Î¶¨Ï¶òÏúºÎ°ú, Ïö∞ÏàòÌïú Ïú†Ï†ÑÏûêÍ∞Ä Îã§Ïùå ÏÑ∏ÎåÄÏóêÏÑúÎèÑ Ïûò Î∞úÌòÑÎê† Ïàò ÏûàÎèÑÎ°ù ÌïôÏäµÌï¥ÎÇòÍ∞ÑÎã§.  
  
ÏïåÍ≥†Î¶¨Ï¶òÏùÄ Îã§Ïùå 6Í∞ÄÏßÄ Ï†àÏ∞®Î•º Îî∞Î•∏Îã§.  
1. ÏóºÏÉâÏ≤¥ Ï¥àÍ∏∞Ìôî
2. Î™®Îç∏ ÌïôÏäµ
3. Ï†ÅÌï©ÎèÑ ÌèâÍ∞Ä
4. Î∂ÄÎ™® ÏóºÏÉâÏ≤¥ ÏÑ†ÌÉù
5. ÏûêÏãù ÏóºÏÉâÏ≤¥ ÏÉùÏÑ±
6. ÏµúÏ†Å Î≥ÄÏàò ÏßëÌï© ÏÑ†ÌÉù

In [12]:
# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò¥

import pandas as pd
import random
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

ÌôúÏö© Îç∞Ïù¥ÌÑ∞ - Energy Efficiency dataset  
  
https://archive.ics.uci.edu/ml/datasets/Energy+efficiency  
  
We perform energy analysis using 12 different building shapes simulated in Ecotect. The buildings differ with respect to the glazing area, the glazing area distribution, and the orientation, amongst other parameters. We simulate various settings as functions of the afore-mentioned characteristics to obtain 768 building shapes. The dataset comprises 768 samples and 8 features, aiming to predict two real valued responses. It can also be used as a multi-class classification problem if the response is rounded to the nearest integer.  
  
X1 : Relative Compactness  
X2 : Surface Area  
X3 : Wall Area  
X4 : Roof Area  
X5 : Overall Height  
X6 : Orientation  
X7 : Glazing Area  
X8 : Glazing Area Distribution  
Y1 : Heating Load

In [3]:
dataset = pd.read_csv('energy_efficiency.csv')
dataset = dataset.iloc[:768,:-1]
dataset

       X1     X2     X3      X4   X5   X6   X7   X8     Y1
0    0.98  514.5  294.0  110.25  7.0  2.0  0.0  0.0  15.55
1    0.98  514.5  294.0  110.25  7.0  3.0  0.0  0.0  15.55
2    0.98  514.5  294.0  110.25  7.0  4.0  0.0  0.0  15.55
3    0.98  514.5  294.0  110.25  7.0  5.0  0.0  0.0  15.55
4    0.90  563.5  318.5  122.50  7.0  2.0  0.0  0.0  20.84
..    ...    ...    ...     ...  ...  ...  ...  ...    ...
763  0.64  784.0  343.0  220.50  3.5  5.0  0.4  5.0  17.88
764  0.62  808.5  367.5  220.50  3.5  2.0  0.4  5.0  16.54
765  0.62  808.5  367.5  220.50  3.5  3.0  0.4  5.0  16.44
766  0.62  808.5  367.5  220.50  3.5  4.0  0.4  5.0  16.48
767  0.62  808.5  367.5  220.50  3.5  5.0  0.4  5.0  16.64

[768 rows x 9 columns]

In [4]:
x = dataset.drop('Y1', axis=1)
y = dataset['Y1']

- 1Îã®Í≥Ñ : ÏóºÏÉâÏ≤¥ Ï¥àÍ∏∞Ìôî

In [5]:
# Ïú†Ï†ÑÏûêÎßàÎã§ ÎÇúÏàòÎ•º ÏÉùÏÑ±Ìï¥ÏÑú Ïù¥ÏßÑ Ïù∏ÏΩîÎî©

generation = []

for j in range(6) : # population size = 6
    chromosome = []
    
    for i in range(8) : # Î≥ÄÏàò Í∞úÏàò
        a = random.random()
        a = round(a, 2)
        chromosome.append(a)
        
    generation.append(chromosome)

generation = pd.DataFrame(generation)
generation

      0     1     2     3     4     5     6     7
0  0.86  0.11  0.72  0.90  0.81  0.96  0.61  0.93
1  0.75  0.56  0.43  0.09  0.83  0.85  0.62  0.80
2  0.96  0.36  0.30  0.20  0.13  0.80  0.97  0.29
3  0.14  0.90  0.50  0.83  0.53  0.71  0.40  0.70
4  0.98  0.58  0.40  0.08  0.37  0.67  0.03  0.41
5  0.81  0.45  0.07  0.05  0.66  0.52  0.22  0.71

In [6]:
# cut-off = 0.5

generation[generation > 0.5] = 1
generation[generation <= 0.5] = 0
generation = generation.astype('int')
generation = generation.values.tolist()
generation

[[1, 0, 1, 1, 1, 1, 1, 1],
 [1, 1, 0, 0, 1, 1, 1, 1],
 [1, 0, 0, 0, 0, 1, 1, 0],
 [0, 1, 0, 1, 1, 1, 0, 1],
 [1, 1, 0, 0, 0, 1, 0, 0],
 [1, 0, 0, 0, 1, 1, 0, 1]]

- 2Îã®Í≥Ñ : Î™®Îç∏ ÌïôÏäµ

In [15]:
fitness = []

for k in range(6) :
    function_inputs = generation[k]

    col_data = []
    col = 0
    for i in function_inputs :
        if i == 1 :
            col_data.append(col)
        col += 1
    col_data

    new_x = x.iloc[:,col_data] # Í∞Å ÏóºÏÉâÏ≤¥Î≥ÑÎ°ú ÏÇ¨Ïö©ÌïòÎäî Î≥ÄÏàò Îç∞Ïù¥ÌÑ∞Îßå Í∞ÄÏ†∏ÏôÄÏÑú

    model = LinearRegression() # Îã§Ï§ë ÏÑ†Ìòï ÌöåÍ∑Ä Î™®Îç∏Î°ú Î∂ÑÏÑùÌïòÏó¨
    model.fit(new_x, y)
    y_pred = model.predict(new_x)
    r2 = r2_score(y, y_pred)
    adj_r2 = 1-((768-1)*(1-r2))/(768-8-1) # Ï†ÅÌï©ÎèÑ Íµ¨Ìï®
    fitness.append(adj_r2)

In [16]:
fitness

[0.9153188366810866,
 0.9059949353984598,
 0.4543522773769625,
 0.8440887154833302,
 0.48549823117189017,
 0.8382838281900078]

- 3Îã®Í≥Ñ : Ï†ÅÌï©ÎèÑ ÌèâÍ∞Ä

In [47]:
# Ï†ÅÌï©ÎèÑÏùò weight(Ï†ÑÏ≤¥ Ï§ëÏóêÏÑú ÎπÑÏ§ë) Íµ¨Ìï®

weight = []
for i in range(len(fitness)) :
    a = fitness[i]/sum(fitness)
    a = round(a, 3)
    weight.append(a)
weight

[0.206, 0.204, 0.102, 0.19, 0.109, 0.189]

In [48]:
fit_df = pd.DataFrame(zip(fitness, weight))
fit_df.columns = ['fitness', 'weight']
fit_df

    fitness  weight
0  0.915319   0.206
1  0.905995   0.204
2  0.454352   0.102
3  0.844089   0.190
4  0.485498   0.109
5  0.838284   0.189

In [49]:
# Ï†ÅÌï©ÎèÑÏùò rank(Ï†ÑÏ≤¥ Ï§ëÏóêÏÑú ÏàúÏúÑ) Íµ¨Ìï®

fit_df['rank'] = fit_df['fitness'].rank(ascending=False)
fit_df

    fitness  weight  rank
0  0.915319   0.206   1.0
1  0.905995   0.204   2.0
2  0.454352   0.102   6.0
3  0.844089   0.190   3.0
4  0.485498   0.109   5.0
5  0.838284   0.189   4.0

- 4Îã®Í≥Ñ : Î∂ÄÎ™® ÏóºÏÉâÏ≤¥ ÏÑ†ÌÉù

In [50]:
# ÌôïÏ†ïÏ†Å ÏÑ†ÌÉù
# N = 50(Ï†ÅÌï©ÎèÑÍ∞Ä ÏÉÅÏúÑ 50% Ïù¥ÏÉÅÏù∏ Í≤É)
# rank ÏÇ¨Ïö©

parents_idx = fit_df[fit_df['rank']<=3.0].index.values.tolist()

generation_df = pd.DataFrame(generation)
parents = generation_df.iloc[parents_idx,:]
parents

   0  1  2  3  4  5  6  7
0  1  0  1  1  1  1  1  1
1  1  1  0  0  1  1  1  1
3  0  1  0  1  1  1  0  1

In [51]:
# ÌôïÎ•†Ï†Å ÏÑ†ÌÉù
# weight ÏÇ¨Ïö©

weight_sum = []
a = 0

for i in weight :
    a = a+i
    weight_sum.append(a)

weight_sum # ÏÑ†ÌÉùÎê† Í∞ÄÎä•ÏÑ±Ïù¥ Í∞ÄÏ§ëÏπòÏôÄ ÎπÑÎ°Ä

[0.206, 0.41, 0.512, 0.702, 0.8109999999999999, 1.0]

In [52]:
rn = []
for i in range(2) :
    a = random.random() # ÎÇúÏàò ÏÉùÏÑ±
    a = round(a, 3)
    rn.append(a)
rn

[0.959, 0.533]

In [53]:
# ÎÇúÏàòÍ∞Ä Ìï¥ÎãπÌïòÎäî Î≤îÏúÑÏùò ÏóºÏÉâÏ≤¥ ÏÑ†ÌÉù

pa = []
for i in rn :
    if i>0 and i<weight_sum[0] :
        pa.append(0)
    elif i>weight_sum[0] and i<weight_sum[1] :
        pa.append(1)
    elif i>weight_sum[1] and i<weight_sum[2] :
        pa.append(2)
    elif i>weight_sum[2] and i<weight_sum[3] :
        pa.append(3)
    elif i>weight_sum[3] and i<weight_sum[4] :
        pa.append(4)
    elif i>weight_sum[4] and i<weight_sum[5] :
        pa.append(5)
pa

[5, 3]

In [55]:
generation_df = pd.DataFrame(generation)
parents = generation_df.iloc[pa,:]
parents

   0  1  2  3  4  5  6  7
5  1  0  0  0  1  1  0  1
3  0  1  0  1  1  1  0  1

- 5Îã®Í≥Ñ : ÏûêÏãù ÏóºÏÉâÏ≤¥ ÏÉùÏÑ±

In [57]:
# ÍµêÎ∞∞
# crossover point = 1

cut = random.randint(0,7) # ÍµêÎ∞∞ ÏßÄÏ†ê ÏÑ†ÌÉù
cut

6

In [80]:
child_1 = parents.iloc[0,:cut].tolist() + parents.iloc[1,cut:].tolist()
child_2 = parents.iloc[1,:cut].tolist() + parents.iloc[0,cut:].tolist()
child = pd.DataFrame([child_1, child_2])
child

   0  1  2  3  4  5  6  7
0  1  0  0  0  1  1  0  1
1  0  1  0  1  1  1  0  1

In [92]:
# ÎèåÏó∞Î≥ÄÏù¥
# mutation rate = 0.01

random_no = []

for j in range(2) :
    chromosome = []
    
    for i in range(8) :
        a = random.random() # ÎÇúÏàò ÏÉùÏÑ±
        a = round(a, 2)
        chromosome.append(a)
        
    random_no.append(chromosome)

random_no

[[0.26, 0.01, 0.5, 0.43, 0.13, 0.43, 0.61, 0.33],
 [0.8, 0.01, 0.94, 0.44, 0.19, 0.08, 0.5, 0.98]]

In [103]:
aaaa = []
for i in random_no :
    for j in i :
        aaaa.append(j)

bbbb = []
for i in child.values.tolist() :
    for j in i :
        bbbb.append(j)

m = []
n = 0
for i in aaaa :
    if i <= 0.01 : # ÎÇúÏàòÍ∞Ä 0.01Î≥¥Îã§ ÏûëÏùÄ ÏúÑÏπò Ï†ÄÏû•
        m.append(n)
    n += 1

for i in m : # Ìï¥Îãπ ÏúÑÏπò Î≥ÄÏàò Î∞òÎåÄÎ°ú Î∞îÍøîÏ§å
    if bbbb[i] == 0 :
        bbbb[i] = 1
    else :
        bbbb[i] = 0

In [104]:
final_child = [bbbb[:8],bbbb[8:]]
final_child

[[1, 1, 0, 0, 1, 1, 0, 1], [0, 0, 0, 1, 1, 1, 0, 1]]

- 6Îã®Í≥Ñ : ÏµúÏ†Å Î≥ÄÏàò ÏßëÌï© ÏÑ†ÌÉù

In [106]:
# ÌïôÏäµ Ï¢ÖÎ£å ÌõÑ Í∞ÄÏû• ÎÜíÏùÄ Ï†ÅÌï©ÎèÑ Î≥¥Ïù¥Îäî Ï°∞Ìï© Ï∞æÍ∏∞

fitness = []

for k in range(2) :
    function_inputs = final_child[k]

    col_data = []
    col = 0
    for i in function_inputs :
        if i == 1 :
            col_data.append(col)
        col += 1
    col_data

    new_x = x.iloc[:,col_data] # Í∞Å ÏóºÏÉâÏ≤¥Î≥ÑÎ°ú ÏÇ¨Ïö©ÌïòÎäî Î≥ÄÏàò Îç∞Ïù¥ÌÑ∞Îßå Í∞ÄÏ†∏ÏôÄÏÑú

    model = LinearRegression() # Îã§Ï§ë ÏÑ†Ìòï ÌöåÍ∑Ä Î™®Îç∏Î°ú Î∂ÑÏÑùÌïòÏó¨
    model.fit(new_x, y)
    y_pred = model.predict(new_x)
    r2 = r2_score(y, y_pred)
    adj_r2 = 1-((768-1)*(1-r2))/(768-8-1) # Ï†ÅÌï©ÎèÑ Íµ¨Ìï®
    fitness.append(adj_r2)

In [107]:
fitness

[0.839180423678257, 0.7967906519854066]

In [109]:
# ÏµúÏ†Å Î≥ÄÏàò Ï°∞Ìï©
if fitness[0] > fitness[1] :
    print(final_child[0])
else :
    print(final_child[1])

[1, 1, 0, 0, 1, 1, 0, 1]